.FormBuilderBodyRowToolbox {
    text-align: center;
    padding: 5px;
}

.loadingIcon {
    color: #a5ffb4;
}

.deleteIcon {
    .outer {
        color: rgb(52,58,64);
        visibility: hidden;
        
    }
    .inner {
        color: rgb(91, 99, 107);
    }
}

.deleteIcon:hover {
    .outer {
        visibility: visible;
    }
    .inner {
        color: rgb(248, 29, 0);
    }
    cursor: pointer;
}

.deleteIcon:active {
    .outer {
        visibility: visible;
        color: rgb(91, 99, 107);
    }
    .inner {
        color: rgb(250, 98, 77);
    }
}

.genericIcon {
    .outer {
        color: rgb(52,58,64);
        visibility: hidden;
    }
    .inner {
        color: rgb(91, 99, 107);
    }
}

.genericIcon:hover {
    .outer {
        visibility: visible;
    }
    .inner {
        color: #a5ffb4;
    }
    cursor: pointer;
}

.genericIcon:active {
    .outer {
        visibility: visible;
        color: rgb(91, 99, 107);
    }
    .inner {
        color: #cdf7d4;
    }
}

.errorIcon {
    color: rgb(247, 200, 69);
}

