.FormBuilderBody, .container-fluid {
    min-height: 100vh;
}

#componentPickerCol {
    background-color: rgb(52,58,64);
}

.ComponentPicker {
    margin-top: 2em;
}

#formPreviewContainer {
    margin-top: 1.5em;
}

#submit {
    margin-top: 10em;
}